__pycache__/
*.pyc
.env
test_anesthesia.db
anesthesia_live.db
node_modules/
nginx-1.30.0/
uploads/
artifacts/
catboost_info/
frontend/node_modules/
frontend/dist/

### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-files
*.bclicense
*.flf
#Test results file
TestResults.xml
